<ion-view title="'Catalogue'">
  <ion-content has-header="true" has-tabs="true">
    <ion-list>
      <a ng-repeat="category in catalogue | orderBy:'name.language.__cdata'" type="item-text-wrap" class="item item-thumbnail-left" ng-show="category.level_depth.__cdata==level" ng-click="gotoCat(category)">
        <img src="http://37.187.60.236/api/images/categories/{{category.id.__cdata}}?ws_key={{key}}">
        <h3>{{category.name.language.__cdata}}</h3>
        <p>{{category.description.language.__cdata}}</p>
      </a>
      
    </ion-list>

  </ion-content>
</ion-view>
